<%= form_for(photo_gallery) do |f| %>
  <% if photo_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_gallery.errors.count, "error") %> prohibited this photo_gallery from being saved:</h2>

      <ul>
      <% photo_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
